body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    line-height: 1.3rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
    background-color: grey;
}

header ul {
    display: flex;
    list-style: none;
}
header ul a {
    text-decoration: none;
    font-size: x-small;
    margin: 0 .3rem;
    color: black;

}
a:hover {
    text-decoration: underline;
}
a:visited {
   color: black;
}

article {
    margin: 4rem 10rem;
    background-color: rgb(209, 209, 209);
    border-radius: .3rem;
    padding: .1rem 3rem;
    padding-bottom: 2rem;
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background-color: grey;
    display: flex;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: black;
    margin: 1rem;
    background-color: white;
    padding: .3rem .5rem;
    border-radius: .3rem;
}